// Styles for Firefox
@-moz-document url-prefix() {
    body {
        width: 100%;
    }
}


body {
    font-family: 'gill sans';
    padding: 0;
    margin: 0;
}
header {
    padding-top: 10px;
}
header div img {
    float: left;
    margin-left: 10%;
    margin-top: -15px;
    position: absolute;
}
nav {
    background: none repeat scroll 0 0 #f2940b;
    min-height: 60px;
}
nav ul {
    float: right;
    font-size: 13px;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    width: 90%;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    width: 7%;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li a:hover {
    color: #DAA520;
}
#home hr {
    background-color: #DAA520;
    border: medium none;
    color: #DAA520;
    float: inherit;
    height: 4px;
    margin-top: 4px;
}
#home div img {
    border-bottom: 3px solid #CC7A29;
    border-top: 3px solid #CC7A29;
    height: 450px;
    margin-top: 25px;
    width: 100%;
}
#message {
    background: none repeat scroll 0 0 #f2940b;
    height: 75px;
    opacity: 0.85;
    position: absolute;
    top: 433px;
    width: 50%;
}
#message h1 {
    color: #FFFFFF;
    font-size: 35px;
    margin: 10px 0 10px 20px;
    text-align: left;
    text-transform: uppercase;
}
#information{
	background: #f2940b;
    left: 20%;
    position: absolute;
    color: #FFFFFF;
    text-align: center;
    width: 750px;
    margin-top: -4px;
    border: 1px solid #f2940b;
    border-radius:0px 0px 15px 15px; 
    -moz-border-radius: 15px;
    padding: 10px;
    height: 110px;
}
