
body {
    font-family: 'gill sans';
    margin: 0;
    padding: 0;
}
header {
    padding-top: 10px;
}
header div img {
    float: left;
    margin-left: 10%;
    margin-top: -15px;
    position: absolute;
    z-index: 1;
}
nav {
    background: none repeat scroll 0 0 #F2940B;
    min-height: 60px;
}
nav ul {
    float: right;
    font-size: 13px;
    margin: 0;
    padding-top: 40px;
    text-align: center;
    width: 90%;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
    width: 7%;
}
nav ul li a {
    color: #FFFFFF;
    text-decoration: none;
}
nav ul li a:hover {
    color: #DAA520;
}
ol, ul, menu {
    list-style: none outside none;
}
#home hr {
    background-color: #DAA520;
    border: medium none;
    color: #DAA520;
    float: inherit;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
}
#home #background {
    border-bottom: 3px solid #CC7A29;
    border-top: 3px solid #CC7A29;
    height: 450px;
    margin-top: 25px;
    width: 100%;
}
.reservation {
    background-color: #E68501;
    border: 1px solid #F2940B;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 13px;
    height: 350px;
    position: absolute;
    right: 2%;
    top: 150px;
    width: 250px;
}
.reservation ul {
    padding: 0;
}
.form-row-date label {
    font-size: 12px;
}
.form-row-date input {
    height: 10px;
    width: 30px;
}
.reservation img {
    margin: 10px 0 0 30px;
}
.form-row {
    margin: 10px 15px 10px 20px;
}
.form-row-date {
    margin: 0 15px 5px 75px;
}
.form-row label,
.form-row-date label {
    display: inline-block;
    width: 50px;
}
.form-row-date label {
    width: 38px;
}
.submitButton{
    height: 30px;
    width: 120px;  
    background-image:url('web-app/img/sendButton.png');
    background-repeat:no-repeat;
}
.form-row input {
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 158px;
}
#message {
    background: none repeat scroll 0 0 #F2940B;
    height: 75px;
    opacity: 0.85;
    position: absolute;
    top: 433px;
    width: 50%;
}
#message h1 {
    color: #FFFFFF;
    font-size: 35px;
    margin: 10px 0 10px 20px;
    text-align: left;
    text-transform: uppercase;
}
#information {
    background: none repeat scroll 0 0 #F2940B;
    border: 1px solid #F2940B;
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
    height: 110px;
    left: 20%;
    margin-top: -4px;
    padding: 10px;
    position: absolute;
    text-align: center;
    width: 750px;
}

.orange-column{
    background-color: #E68501;
    margin-left: 2%;
    min-height: 100%;
    min-width: 250px;
    position: absolute;
}
}
