body {
    font-family: 'gill sans';
    margin: 0;
    padding: 0;
}
header {
    padding-top: 30px;
}
footer {
    min-height: 80px;
}
header nav {
    background: none repeat scroll 0 0 #F2940B;
    min-height: 60px;
}

nav ul {
    font-size: 13px;
    margin: 0;
}
header nav ul {
    float: right;
    padding-top: 40px;
    width: 90%;
    text-align: center;
}
footer nav ul {
    float: right;
    margin: 40px 12% 0 0;
}
nav ul li {
    display: inline-block;
    text-transform: uppercase;
}
header nav ul li {
    width: 7%;
}
footer nav ul li {
    border: 1px solid #CC7A29;
    text-align: center;
}
header nav ul li a {
    color: #FFFFFF;
}
footer nav ul li a {
    color: #000000;
    display: block;
    width: 100px;
}
nav ul li a {
    text-decoration: none;
}
header nav ul li a:hover {
    color: #DAA520;
}
ol, ul, menu {
    list-style: none outside none;
}
.content header div img {
    float: left;
    margin-left: 2%;
    margin-top: -15px;
    position: absolute;
    z-index: 1;
}
.content.home header div img {
    margin-left: 10%;
}
.orange-column{
    background-color: #E68501;
    margin-left: 2%;
    min-height: 100%;
    min-width: 250px;
    position: absolute;
}
.content.home .orange-column{
    min-height: 0;
}

.content hr {
    background-color: #DAA520;
    border: medium none;
    color: #DAA520;
    float: inherit;
    height: 4px;
    margin-top: 4px;
    margin-bottom: 0px;
}
.content.home #background {
    border-bottom: 3px solid #CC7A29;
    border-top: 3px solid #CC7A29;
    height: 450px;
    margin-top: 25px;
    width: 100%;
}
.reservation {
    background-color: #E68501;
    border: 1px solid #F2940B;
    border-radius: 15px;
    color: #FFFFFF;
    font-size: 13px;
    height: 350px;
    position: absolute;
    right: 2%;
    top: 150px;
    width: 250px;
}
.reservation ul {
    padding: 0;
}
.form-row-date label {
    font-size: 12px;
}
.form-row-date input {
    height: 10px;
    width: 30px;
}
.reservation img {
    margin: 10px 0 0 30px;
}
.form-row {
    margin: 10px 15px 10px 20px;
}
.form-row-date {
    margin: 0 15px 5px 75px;
}
.form-row label,
.form-row-date label {
    display: inline-block;
    width: 50px;
}
.form-row-date label {
    width: 38px;
}
.submitButton{
    height: 30px;
    width: 120px;  
    background-image:url('web-app/img/sendButton.png');
    background-repeat:no-repeat;
}
.form-row input {
    border: 1px solid #CCCCCC;
    height: 20px;
    width: 158px;
}
#message {
    background: none repeat scroll 0 0 #F2940B;
    height: 75px;
    opacity: 0.85;
    position: absolute;
    top: 433px;
    width: 50%;
}
#message h1 {
    color: #FFFFFF;
    font-size: 35px;
    margin: 10px 0 10px 20px;
    text-align: left;
    text-transform: uppercase;
}
#information {
    background: none repeat scroll 0 0 #F2940B;
    border: 1px solid #F2940B;
    border-radius: 0 0 15px 15px;
    color: #FFFFFF;
    height: 110px;
    margin-bottom: 0;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
}
.content.tarifas section {
    background-color: #E68501;
    border: 1px solid #F2940B;
    border-radius: 15px;
    margin: 8px 0 8px 280px;
    min-height: 580px;
}
.bullets{
    background-color: #E68501;
    border: 0.1px solid #FFFFFF;
    border-radius: 15px 15px 15px 15px;
    min-height: 20px;
    min-width: 40px;
    position: absolute;
    left: 20.3%;
}

#first{
    top: 25.5%;
}

#second{
    top: 75%;
}

#rectangle{
    background-color: #f6f6f6;
    min-height: 250px;
    min-width: 875px;
    position: absolute;
    top:35%;
    left: 26%;
    padding: 10px;

}

#orange-rectangle{
    min-height: 250px;
    min-width: 870px;
    border: 1px solid #E68501;

}

#orange-rectangle table{ 
    color: #E68501;
    font-size: 20px;
    margin: 6% 0 0 14%;
    min-width: 600px;
    text-align: center;
}

#orange-rectangle table td{ 
    font-size: 14px;
}